.debhelper
debhelper-build-stamp
files
python3-proton-vpn-network-manager-wireguard.debhelper.log
python3-proton-vpn-network-manager-wireguard.postinst.debhelper
python3-proton-vpn-network-manager-wireguard.postrm.debhelper
python3-proton-vpn-network-manager-wireguard.prerm.debhelper
python3-proton-vpn-network-manager-wireguard.substvars
python3-proton-vpn-network-manager-wireguard
